*{
  margin: 0px;
  padding:0px;
  color:#6C6C6C;
  /* font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif; */
}

#top-nav{
  margin:0 auto;
  width:1190px;
  height:35px;
  background:#f5f5f5;
}

.top-nav-left{
  display: block;
  float:left;
  color:#6C6C6C;
  width:292px;
  height:35px;
  margin-left: 10px;
  line-height:18px;
  font-weight:400px;
}

.top-nav-right{
    float:right;
    width:606.549px;
    height:35px;
    line-height:18px;
    font-weight: 400px;
  }

 .top-nav-left-menu{
 float:left;
 font-size:12px;
 line-height:35px;
 width:79px;
 height:35px;
 }

 .top-nav-left-menu-hd{
width:67px;
height:35px;
padding:0 6px;
 }
.site-top-menu-left-link{
width:60px;
height:34.667;
margin-right:7px;
}
 .top-nav-left-menu-login{
  float:left;
  font-size:12px;
  line-height:35px;
  width:134px;
  height:35px;
 }
 .site-top-login{
   width:122px;
   height:35px;
   padding:0 6px;
   line-height:35px;
 }

 .site-top-login-log{
   width:60px;
   height:34.667px;
   margin-right: 7;
   color: #f22e00!important;
 }

 .site-top-login-register{
  width:48px;
  height:34.667px;
  margin-right: 7;
}
 .top-nav-right-menu{

  float:right;
  font-size: 12px; 
  line-height:35px; 
 }
.top-nav-right-menu-hd:hover{

  color:#f40!important;
  margin-bottom:2px;
}
 .top-nav-right-menu-hd{
  float:right;
  font-size:12px;
  line-height:35px;
  color:#000!important;
  width:79px;
  height:35px;
    
 }
 .site-top-menu-right-link
 {
  width:60px;
  height:34.667;
  margin-right:7px;

 }
 .site-nav-icon{
   margin-top: 16px;
   width:12px;
   height:6px;
 }
 .top-nav-right-cut::before{
content:"";
display:block;
clear:both;
 }

 .top-nav-right-cut::after{
content:"123";
display:block;
clear:both;
 }
 #top-nav::after{
   content:"";
   display:block;
   clear:both;
 }