li.search-choose{
  list-style:none;
  float:left;
  width:36px;
  height:22px;
  margin-right:4;
  color: #F40;
  text-align: center;
  line-height: 22px;
}
li.search-choose:hover{
  background-color: #FFEEE5;
  color: #FF5400;
}
li.hot-line{
  list-style: none;
  float:left;
}
.top-search{
  position: relative;
width:1192.336px;
height:97px;
padding-top:24px;
/* background: red; */
}
.tao-logo{
  width:142px;
  height:58px;
  display:block;
  float:left;
  margin-top: 8px;
  margin-left: 22px;
  background-image: url(../image/taobao-top-search-logo.png);
 /* background-color: #000; */
 background-repeat:no-repeat ;
background-size: 142px 58px; 
}
.searchinput{
  height: 36px;
    overflow: hidden;
    width: 472px; 
     float:left;
     /* text-align: center; */
}
.searchinput input{
  display:block;
  border: none;
  background:rgba(255, 255, 255, 0);
margin:6px auto;
  width:100%;
  height:24px;
  /* font-size: 24px; */
  line-height: 24px;
}
.searchinput input:hover{
height:36px;
margin:0px auto;
}
.search-input{
  width:554px;
  height:36px;
 float:left;
/* text-align:center; */

}
.search{
  /* background: green; */
width:630px;
height:87px;
margin-left: 258px;
margin-right: 302px;
}
.search-header{
width:613px;
height:22px;
margin-left: 17px;
/* background: blue; */
}
.search-content{
  position: relative;
  /* display:inline-block; */
  border: 2px solid #ff5000;
  height: 36px;
  width:554px;
  border-right:none;
  border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.search-button{
  width: 74px;
  height: 40px;
/* background: brown; */
border-top-right-radius: 20px;
border-bottom-right-radius:20px;
position: absolute;
margin-right: -74px;
overflow: hidden;
/* left:556px; */
right:0;
top:-2px;
}
.searchbutton{
  display: block;
  text-align: center;
  line-height: 40px;
  width:100%;
  height: 100%;
  font-size: 18px;
  font-weight: 700;
  color: #FFF;
  background-color: #FF4200;
  border: none;
}
.search-icon{
  position: absolute;
  left:472px;
  width:100px;
  height:36px;
  /* background: blue; */
}
.searchicon{
  display: block;
  width:24px;
  height:36px;
  position: absolute;
    top: 0px;
    left: 58px;
  /* background: greenyellow; */
  background-image: url(../image/camera1.jpg);
  background-size:24px 36px ;
}
.search-bottom{
  width:630px;
  height:25px;
  /* background: red; */
}
.search-hot-line{
  width:589px;
  height:18px;
}
.two-line{
  display: block;
  font-size: 12px;
  margin:5px 2px;
  width:24px;
  height:14.67px;
  line-height: 18px;
}
.three-line{
  display: block;
  font-size: 12px;
  margin:5px 2px;
  width:36px;
  height:14.67px;
  line-height: 18px;
}
.four-line{
  display: block;
  font-size: 12px;
  margin:5px 2px;
  width:48px;
  height:14.67px;
  line-height: 18px;
}
.five-line{
  display: block;
  font-size: 12px;
  margin:5px 2px;
  width:60px;
  height:14.67px;
  line-height: 18px;
}
.two-line:hover,.three-line:hover,.four-line:hover,.five-line:hover{
  color: #F40;

}
.top-search::after{
  content:"";
  display:block;
  clear:both;
}